*{
    margin: 0;
    padding: 0;
      
}

 body{
   
    display: flex;
    flex-direction:column;
    min-height: 100vh;
 }

 main{
     flex: 1;
     display: 1;
     flex-direction: column;
     align-items: center;
}

section{
     display: flex;
     gap: 16px;

}

.cabecalho{
    color:	#8B0000;
    padding:15px 25px ;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color:#196e6e ;

} 
 .cartao{
    margin: 20px;
    width: 260px;
    height: 200px;
 }

  .cartao-imagem{
      width: 100%;
  }

  .cartao-interno{
     position: relative;
     transition: transform 0.8s;
     transform-style: preserve-3d;
}
   
    .cartao-hover .cartao-interno{
         transform: rotateY(180deg);
    }


  .cartao-frente, .cartao-verso{

       position: absolute;
       border-radius: 12px;
       box-shadow: 0 6px 12px rgba(0,0,0, 0.15);
       backface-visibility: hidden;
  }
 
   .cartao-verso{

        transform: rotateY(180deg);
   } 

