* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f2f8f8;
}

/* CABEÇALHO */

.cabecalho {
    background-color: #196e6e;
    color: white;

    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    font-size: 28px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


/* CONTEÚDO */

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 20px;
}

main h2 {
    color: #196e6e;
    margin-bottom: 40px;
    text-align: center;
}


/* CARTÕES */

.cartoes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


/* ÁREA 3D */

.cartao {
    width: 280px;
    height: 350px;

    perspective: 1000px;
}


/* PARTE QUE GIRA */

.cartao-interno {
    width: 100%;
    height: 100%;

    position: relative;

    transition: transform 0.8s;

    transform-style: preserve-3d;
}


/* GIRAR QUANDO PASSAR O MOUSE */

.cartao:hover .cartao-interno {
    transform: rotateY(180deg);
}


/* FRENTE E VERSO */

.cartao-frente,
.cartao-verso {
    width: 100%;
    height: 100%;

    position: absolute;

    border-radius: 18px;

    overflow: hidden;

    background-color: white;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    backface-visibility: hidden;
}


/* FRENTE */

.cartao-frente {
    display: flex;
    flex-direction: column;
}


/* IMAGEM */

.cartao-frente img {
    width: 100%;
    height: 70%;

    object-fit: cover;
}


/* TEXTO DA FRENTE */

.cartao-frente p {
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    text-align: center;

    font-size: 17px;
    font-weight: bold;

    color: #333;
}


/* VERSO */

.cartao-verso {
    transform: rotateY(180deg);

    display: flex;

    justify-content: center;
    align-items: center;

    padding: 25px;

    background-color: #ffffff;
}


/* RESPOSTA */

.resposta {
    text-align: center;
}

.resposta span {
    font-size: 55px;
}

.resposta h3 {
    margin: 15px 0;

    font-size: 28px;

    color: #196e6e;
}

.resposta p {
    font-size: 17px;

    line-height: 1.5;

    color: #444;
}


/* RODAPÉ */

footer {
    background-color: #196e6e;

    color: white;

    text-align: center;

    padding: 15px;
}


/* CELULAR */

@media (max-width: 650px) {

    .cabecalho {
        padding: 15px 20px;
    }

    .cartoes {
        gap: 25px;
    }

    .cartao {
        width: 270px;
        height: 340px;
    }
}