*{
    margin: 0;
    padding: 0;
      
}

 body{
   
    display: flex;
    flex-direction:column;
    min-height: 100vh;
 }

 main{
     flex: 1;
}

.cabecalho{
    color:	#8B0000;
    padding:15px 25px ;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color:#F0FFFF ;

}