* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f8f8;
    font-family: Arial, sans-serif;
}

/* CABEÇALHO */
.cabecalho {
    background-color: #196e6e;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    font-size: 28px;
}

.cabecalho nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.cabecalho nav a:hover {
    text-decoration: underline;
}

/* CONTEÚDO */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

main h2 {
    color: #196e6e;
    margin-bottom: 35px;
    text-align: center;
}

/* CARTÕES */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.cartao {
    width: 280px;
    height: 330px;
    perspective: 1000px;
}

/* Parte que gira */
.cartao-interno {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Quando passa o mouse, gira */
.cartao:hover .cartao-interno {
    transform: rotateY(180deg);
}

/* Frente e verso */
.cartao-frente,
.cartao-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;

    background-color: white;

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);

    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagem */
.cartao-imagem {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

/* Texto */
.cartao p {
    width: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

/* Verso */
.cartao-verso {
    transform: rotateY(180deg);
}

/* RODAPÉ */
footer {
    background-color: #196e6e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

/* CELULAR */
@media (max-width: 650px) {
    .cabecalho {
        padding: 15px 20px;
    }

    .cabecalho h1 {
        font-size: 23px;
    }

    main {
        padding: 30px 15px;
    }

    section {
        gap: 25px;
    }

    .cartao {
        width: 260px;
        height: 310px;
    }
}