*{
    margin: 0;
    padding: 0;
      
}

 body{
   
    display: flex;
    flex-direction:column;
    min-height: 100vh;
 }

 main{
     flex: 1;
}

.cabecalho{
    color:	#8B0000;
    padding:15px 25px ;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color:#196e6e ;

} 
 .cartao{
    width: 260px;
    height: 200px;
 }

  .cartao-imagem{
      width: 100%;
  }

  .cartao-interno{

        position: relative;
  }
   
  .cartao-frente, .cartao-verso{

       position: absolute;
  }

